/* Write your CSS here */

.sub-container {
  display: flex;
  flex-direction: row;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: lobster;
  font-size: 40px;
}

@media (max-width: 680px) {
  .sub-container {
    display: flex;
    flex-wrap: wrap;
  }
}
